{% extends 'main_templates.html' %}
{% block content %}
{% load static %}
<!-- Header Start -->
{% include 'include/breadcrumb.html' %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!-- Header End -->
<!-- 404 Start -->
<div class="container-fluid py-5" style="background: linear-gradient(rgba(19, 53, 123, 0.3), rgba(19, 53, 153, 0.3)); object-fit: cover;">
   <div class="container py-0">
      <div class="row justify-content-center">
         <div class="row">
            <div class="col-md-4">
               <table class="table table-bordered">
                  <tbody>
                     <tr>
                        <th colspan="2" class="bg-primary text-white">Basic Info</th>
                     </tr>
                     <tr>
                        <th>Name</th>
                        <td>{{enquiry.name}}</td>
                     </tr>
                     <tr>
                        <th>Email</th>
                        <td>{{enquiry.email}}</td>
                     </tr>
                     <tr>
                        <th>Phone</th>
                        <td>{{enquiry.phone_no}}</td>
                     </tr>
                     <tr>
                        <th colspan="2" class="bg-primary text-white">Travel Details </th>
                     </tr>
                     <tr>
                        <th>Departure date</th>
                        <td>{{ departure_date }}</td>
                     </tr>
                     <tr>
                        <th>Destination</th>
                        <td>{{enquiry.destination}}</td>
                     </tr>
                     <tr>
                        <th>Country</th>
                        <td>{{enquiry.country.country_name}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="col-md-4">
               <table class="table table-bordered">
                  <tbody>
                     <tr>
                        <th colspan="2" class="bg-primary text-white">Hotel Details</th>
                     </tr>
                     <tr>
                        <th>Hotel type</th>
                        <td>{{hotel_type_display}}</td>
                     </tr>
                     <tr>
                        <th>No Days</th>
                        <td>{{duration}}</td>
                     </tr>
                     <tr>
                        <th>No Person</th>
                        <td>{{enquiry.no_person}} Person</td>
                     </tr> 
                     <tr>
                        <th colspan="2" class="bg-primary text-white">Additional info</th>
                     </tr>
                     <tr>
                        <td colspan="2">
                           <div class="" style="height: 105px;">{{enquiry.tourdetails}}</div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="col-md-4">
               <table class="table table-bordered">
                  <tbody>
                     <tr>
                        <th colspan="2" class="bg-primary text-white">Bill Summary</th>
                     </tr>
                     <tr>
                        <th class="text-end">Sub Total</th>
                        <td >{{quotationInfo.quotation_amount}}</td>
                     </tr>
                     {% for  texItem in tax_list %}
                        {% if texItem.text_apply_type == 'Flat'   %}
                           <tr>
                              <th class="text-end">{{texItem.tax_title}}</th>
                              <td> {{texItem.tax_value|floatformat:2}}  </td>
                           </tr>
                        {% else  %}
                           <tr>
                              <th class="text-end">{{texItem.tax_title}}</th>
                              <td> {{texItem.tax_value}}% </td>
                           </tr>
                        {% endif %}   
                     {% endfor %}
                     <tr>
                        <th class="text-end">Total</th>
                        <td>{{ grand_total|floatformat:2 }}</td>
                     </tr> 
                     <tr>
                        <td  colspan="2" class="text-center p-5"> <button type="button" class="btn btn-primary btn-lg m-2" id="pay_butt" onclick="payNow('Quotation')">Pay Now</button></td>
                     </tr>
                      
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<input type="hidden" id="enquiry_id" value="{{ enquiry.id }}">
<input type="hidden" id="sub_total_amount" name="sub_total_amount" value="{{quotationInfo.quotation_amount}}"> 
<input type="hidden" id="total_tax_amount" name="total_tax_amount" value="{{total_tax|floatformat:2 }}"> 
<input type="hidden" id="total_amount" name="total_amount" value="{{ grand_total|floatformat:2 }}"> 
<textarea id="tax_details" name="tax_details" style="display:none;">{{ all_tax_info|safe }}</textarea>
{% csrf_token %}
<!-- 404 End -->
{% endblock %}