{% extends 'main_templates.html' %}
{% block content %}
{% load static %}
<!-- Header Start -->
{% include 'include/breadcrumb.html' %}
<!-- Header End -->
<!-- About Start -->
<div class="container-fluid about py-5">
   <div class="container py-5">
      <div class="row g-5 align-items-center">
          
         <div class="col-lg-12" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url({% static 'img/about-img-1.png' %});">
            <h5 class="section-about-title pe-3">{{content.title}}</h5>
            <h1 class="mb-4">Welcome to <span class="text-primary">Travela</span></h1>
            <p class="mb-4">{{ content.content|safe }}</p>
         </div>
      </div>
   </div>
</div>
<!-- About End -->
 
<!-- Travel Guide End -->
{% endblock %}