{% extends 'main_templates.html' %}

{% block content %}
{% load static %}
<section class="blog_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Latest Blog
        </h2>
      </div>
      <div class="row">
        {% for item in blogList %}
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="/media/{{item.image}}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                {{item.title}}
              </h5>
              <p>
                {{ item.description|striptags|truncatechars:120 }}
              </p>
              <a href="{% url 'blogDetail' item.slug %}">
                Read More
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
         
      </div>
    </div>
  </section>
{% endblock%}