{% extends 'main_templates.html' %}
{% block content %}
{% load static %}
<!-- Header Start -->
{% include 'include/breadcrumb.html' %}
<!-- Header End -->
<!-- About Start -->
<div class="container-fluid about py-5">
   <div class="container py-5">
      <div class="row g-5 align-items-center">
         <div class="col-lg-5 text-center">
            <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
               <img src="/media/{{blog.image}}" class="img-fluid w-100 h-100" alt="">
              
            </div>
             <div class="d-inline-flex align-items-center" style="height: 45px;"> 
               {% for socialItem in socialMediaLink  %}
                  <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2 border-primary text-primary" href="#" target="_blank"><i class="{{socialItem.social_media_icon}} fw-normal"></i></a>
               {% endfor %}  
             </div>
         </div>
         <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url({% static 'img/about-img-1.png' %});">
            <h5 class="section-about-title pe-3">Blog</h5>
            <h1 class="mb-4">{{blog.title}}</h1>
            <div class="d-inline-flex align-items-center" style="height: 45px;"> 
               {% for socialItem in socialMediaLink  %}
                  <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2 border-primary text-primary" href="#" target="_blank"><i class="{{socialItem.social_media_icon}} fw-normal"></i></a>
               {% endfor %}  
             </div>
            <p class="mb-4">{{blog.content|safe}}</p>
             
         </div>
      </div>
      <div class="row g-5 align-items-center mb-3">  
         <div class="col-lg-12"> <h5 class="section-about-title pe-3">{{commentCount}} Comments</h5> </div>
         {% for commentItem in blogComments %}
         <div class="col-lg-12 mt-0 mb-3"> 
            <div class="card ">
               <div class="card-header d-flex justify-content-between align-items-center">
                  <b>{{commentItem.name}}</b>
                  <samp class="float-right">Reply | Posted {{commentItem.created_at}}</samp>
               </div>
               <div class="card-body">
                  <p>{{commentItem.comment |safe }}</p>
               </div>
            </div>
         </div>
         {% empty %}
         <div class="col-lg-12 mt-0 mb-3"> 
            <div class="card ">
               <div class="card-body">
                  <p class="m-0 text-center">No Comment post</p>
               </div>
            </div>
         </div>
         {% endfor %}
          
      </div>   
      <div class="row g-5 align-items-center">  
         <div class="col-lg-12"> <h5 class="section-about-title pe-3">Write a comment</h5> </div>
         <div class="col-lg-12 mt-0"> 
            {% if messages %}
                {% for message in messages %}
                  {% if message.tags == 'error' %}
                    <p style="color: red; font-size: 12px;" class="msg">{{ message }}</p>
                  {% elif message.tags == 'success' %}
                    <p style="color: green; font-size: 12px;" class="msg">{{ message }}</p>
                  {% else %}
                    <p style="font-size: 12px;" class="msg">{{ message }}</p>
                  {% endif %}
                {% endfor %}
              {% endif %}
            <form action="{% url 'blogDetails' blog.slug %}" method="post" id="write_comment_form">
              {% csrf_token %}
              <div class="row">
                  <div class="col-md-6 mb-3">
                     <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-md-6 mb-3">
                     <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                  </div>
                  <div class="col-12 mb-3">
                     <textarea class="form-control" rows="5" name="comment" placeholder="Your Comment" required></textarea>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary" id="save_butt">Submit</button>
              <button class="btn btn-primary"  type="button" id="loader_butt" style="display: none;" disabled>
                  <span class="spinner-border spinner-border-sm"></span> Please wait..
               </button>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- About End -->
<!-- Travel Guide Start -->
<div class="container-fluid guide py-5">
   <div class="container py-5">
      <div class="mx-auto text-center mb-5" style="max-width: 900px;">
         <h5 class="section-title px-3">Other resent post blogs</h5>
      </div>
      <div class="row g-4">
         {% for item in blogs  %}
         <div class="col-md-6 col-lg-3">
            <div class="guide-item">
               <div class="guide-img">
                  <div class="guide-img-efects">
                     <img src="/media/{{item.image}}" class="img-fluid w-100 rounded-top" alt="Image">
                  </div>
                  <div class="guide-icon rounded-pill p-2">
                     {% for socialItem in socialMediaLink  %}
                     <a class="btn btn-square btn-primary rounded-circle mx-1" href="#"><i class="{{socialItem.social_media_icon}}"></i></a>
                     {% endfor %}
                  </div>
               </div>
               <div class="guide-title text-center rounded-bottom p-4">
                  <div class="guide-title-inner">
                     <a href="{% url 'blogDetails' item.slug %}"><h4 class="mt-3">{{item.title}}</h4></a> 
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
           
      </div>
   </div>
</div>
<!-- Travel Guide End -->
{% endblock %}