{% extends 'main_templates.html' %}
{% block content %}
{% load static %}
<!-- Header Start -->
{% include 'include/breadcrumb.html' %}
<!-- Header End -->
<!-- 404 Start -->
<div class="container-fluid py-5" style="background: linear-gradient(rgba(19, 53, 123, 0.3), rgba(19, 53, 153, 0.3)); object-fit: cover;">
   <div class="container py-0">
      <div class="row justify-content-center">
         <div class="row">
            <div class="col-md-4">
               <table class="table table-bordered">
                  <tbody>
                     <tr>
                        <th colspan="2" class="bg-primary text-white">Basic Info</th>
                     </tr>
                     <tr>
                        <th>Name</th>
                        <td>{{bookingData.name}}</td>
                     </tr>
                     <tr>
                        <th>Email</th>
                        <td>{{bookingData.email}}</td>
                     </tr>
                     <tr>
                        <th>Phone</th>
                        <td>{{bookingData.phone_no}}</td>
                     </tr>
                     <tr>
                        <th colspan="2" class="bg-primary text-white">Travel Details </th>
                     </tr>
                     <tr>
                        <th>Departure date</th>
                        <td>{{ departure_date }}</td>
                     </tr>
                     <tr>
                        <th>Destination</th>
                        <td>{{bookingData.destination}}</td>
                     </tr>
                     <tr>
                        <th>Country</th>
                        <td>{{bookingData.country.country_name}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="col-md-4">
               <table class="table table-bordered">
                  <tbody>
                     <tr>
                        <th colspan="2" class="bg-primary text-white">Hotel Details</th>
                     </tr>
                     <tr>
                        <th>Hotel type</th>
                        <td>{{hotel_type_display}}</td>
                     </tr>
                     <tr>
                        <th>No Days</th>
                        <td>{{bookingData.duration}}</td>
                     </tr>
                     <tr>
                        <th>No Person</th>
                        <td>{{bookingData.no_person}} Person</td>
                     </tr> 
                     <tr>
                        <th colspan="2" class="bg-primary text-white">Additional info</th>
                     </tr>
                     <tr>
                        <td colspan="2">
                           <div class="" style="height: 105px;">{{bookingData.tourdetails}}</div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="col-md-4">
               <table class="table table-bordered">
                  <tbody>
                     <tr>
                        <th colspan="2" class="bg-primary text-white">Bill Summary</th>
                     </tr>
                     <tr>
                        <th class="text-end">Sub Total</th>
                        <td >{{bookingData.sub_total_amount|floatformat:2}}</td>
                     </tr>
                     <tr>
                        <th class="text-end">Tax</th>
                        <td >{{bookingData.other_charges_amount|floatformat:2}}</td>
                     </tr>
                      
                     <tr>
                        <th class="text-end">Total</th>
                        <td>{{ bookingData.total_amount|floatformat:2 }}</td>
                     </tr> 
                     <tr>
                        <td  colspan="2" class="text-center p-5"> 
                           <a href="{% url 'downloadReceiptPDF' bookingID %}" class="btn btn-primary btn-lg m-2">Download Receipt</a>
                        </td>
                     </tr>
                      
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<input type="hidden" id="enquiry_id" value="{{ enquiry.id }}">
<input type="hidden" id="sub_total_amount" name="sub_total_amount" value="{{quotationInfo.quotation_amount}}"> 
<input type="hidden" id="total_tax_amount" name="total_tax_amount" value="{{total_tax|floatformat:2 }}"> 
<input type="hidden" id="total_amount" name="total_amount" value="{{ grand_total|floatformat:2 }}"> 
<textarea id="tax_details" name="tax_details" style="display:none;">{{ tax_list|safe }}</textarea>
{% csrf_token %}
<!-- 404 End -->
{% endblock %}