{% extends 'main_templates.html' %}
{% block content %}
{% load static %}
<!-- Header Start -->
{% include 'include/breadcrumb.html' %}
 <!-- Services Start -->
        <div class="container-fluid bg-light service py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Careers</h5> 
                </div>
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="row g-4">
                            {% for left_item in left_jobs %}
                            <div class="col-12">
                                <a href="{% url 'careersDetails' left_item.id %}">
                                <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                                    <div class="service-content text-end">
                                        <h5 class="mb-4">{{left_item.title}}</h5>
                                        <p class="mb-0">{{left_item.content|truncatechars:150|safe}}</p>
                                    </div>
                                    <div class="service-icon p-4">
                                        {% if left_item.image %}
                                            <img src="{{ left_item.image.url }}" alt="{{ left_item.title }}" class="img-fluid rounded-circle" style="width: 200px; height: 80px;">
                                        {% else %}
                                            <img src="{% static 'default_job.png' %}" alt="{{ left_item.title }}" class="img-fluid rounded-circle" style="width: 200px; height: 80px;">   
                                        {% endif %}
                                        </div>
                                </div>
                                </a>
                            </div>
                            {% endfor %}
                              
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row g-4">
                            {% for right_item in right_jobs %}
                            <div class="col-12">
                                <a href="{% url 'careersDetails' right_item.id %}">
                                <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                                    <div class="service-icon p-4">
                                        {% if right_item.image %}
                                            <img src="{{ right_item.image.url }}" alt="{{ right_item.title }}" class="img-fluid rounded-circle" style="width: 200px; height: 80px;">
                                        {% else %}
                                            <img src="{% static 'default_job.png' %}" alt="{{ right_item.title }}" class="img-fluid rounded-circle" style="width: 200px; height: 80px;">   
                                        {% endif %}
                                    </div>
                                    <div class="service-content">
                                        <h5 class="mb-4">{{right_item.title}}</h5>
                                        <p class="mb-0">{{right_item.content|truncatechars:150|safe}}</p>
                                    </div>
                                </div>
                                </a>
                            </div>
                            {% endfor %}
                             
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Services End -->

         
{% endblock %}