{% extends 'main_templates.html' %}
{% block content %}
{% load static %}
<!-- Header Start -->
{% include 'include/breadcrumb.html' %}
<!-- Header End -->
<!-- Contact Start -->
<div class="container-fluid contact bg-light py-5">
   <div class="container py-5">
         <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Contact Us</h5>
            <h1 class="mb-0">Contact For Any Query or Enquiry</h1>
         </div>
         <div class="row g-5 align-items-center">
            <div class="col-lg-4">
               <div class="bg-white rounded p-4">
                     <div class="text-center mb-4">
                        <i class="fa fa-map-marker-alt fa-3x text-primary"></i>
                        <h4 class="text-primary"><Address></Address></h4>
                        <p class="mb-0">{{websiteData.site_address}} <br> {{websiteData.site_city}}, {{websiteData.site_contry}}</p>
                     </div>
                     <div class="text-center mb-4">
                        <i class="fa fa-phone-alt fa-3x text-primary mb-3"></i>
                        <h4 class="text-primary">Mobile</h4>
                        <p class="mb-0">{{websiteData.site_phone}}</p>
                        <p class="mb-0">{{websiteData.site_fax}}</p>
                     </div>
                  
                     <div class="text-center">
                        <i class="fa fa-envelope-open fa-3x text-primary mb-3"></i>
                        <h4 class="text-primary">Email</h4>
                        <p class="mb-0">{{websiteData.site_email}}</p>
                        <p class="mb-0">{{websiteData.site_hr_email}}</p>
                     </div>
               </div>
            </div>
            <div class="col-lg-8">
               <h3 class="mb-2">Send us a message</h3>
               <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
               {% if messages %}
                {% for message in messages %}
                  {% if message.tags == 'error' %}
                    <p style="color: red; font-size: 12px;" class="msg">{{ message }}</p>
                  {% elif message.tags == 'success' %}
                    <p style="color: green; font-size: 12px;" class="msg">{{ message }}</p>
                  {% else %}
                    <p style="font-size: 12px;" class="msg">{{ message }}</p>
                  {% endif %}
                {% endfor %}
              {% endif %}
               <form method="post" id="contact_us" action="{% url 'userSendEnquiry' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                     <div class="row g-3">
                        <div class="col-md-6">
                           <div class="form-floating">
                                 <input type="text" class="form-control border-0" id="user_name" name="user_name" placeholder="Your Name">
                                 <label for="user_name">Your Name</label>
                           </div>
                           <label for="user_name" class="error"></label>
                        </div>
                        <div class="col-md-6">
                           <div class="form-floating">
                                 <input type="email" class="form-control border-0" id="user_email" name="user_email" placeholder="Your Email">
                                 <label for="user_email">Your Email</label>
                           </div>
                           <label for="user_email" class="error"></label>
                        </div>
                        <div class="col-12">
                           <div class="form-floating">
                                 <input type="text" class="form-control border-0" id="user_subject" name="user_subject" placeholder="Subject">
                                 <label for="subject">Subject</label>
                           </div>
                           <label for="user_subject" class="error"></label>
                        </div>
                        <div class="col-12">
                           <div class="form-floating">
                                 <textarea class="form-control border-0" placeholder="Leave a message here" id="user_message" name="user_message" style="height: 160px"></textarea>
                                 <label for="user_message">Message</label>
                           </div>
                           <label for="user_message" class="error"></label>
                        </div>
                        <div class="col-12">
                           <button class="btn btn-primary w-100 py-3" type="submit" id="save_butt">Send Message</button>
                           <button class="btn btn-primary w-100 py-3"  type="button" id="loader_butt" style="display: none;" disabled>
                              <span class="spinner-border spinner-border-sm"></span> Please wait..
                           </button>
                        </div>
                     </div>
               </form>
            </div>
            <div class="col-12">
               <div class="rounded">
                     <iframe class="rounded w-100" 
                     style="height: 450px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.33750346623!2d-73.97968099999999!3d40.6974881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1694259649153!5m2!1sen!2sbd" 
                     loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
               </div>
            </div>
         </div>
   </div>
</div>
<!-- Contact End -->

{% endblock %}