{% extends 'main_templates.html' %}
{% block content %}
{% load static %}
<!-- Header Start -->
{% include 'include/breadcrumb.html' %}
<!-- Header End -->
 
        <!-- Explore Tour Start -->
        <div class="container-fluid ExploreTour py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Explore Tour</h5>
                    <h1 class="mb-4">The World</h1>
                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempore nam, architecto doloremque velit explicabo? Voluptate sunt eveniet fuga eligendi! Expedita laudantium fugiat corrupti eum cum repellat a laborum quasi.
                    </p>
                </div>
                <div class="tab-class text-center">
                    <div class="tab-content">
                        <div id="NationalTab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                {% for tour_team in tour_list %} 
                                <div class="col-md-6 col-lg-4">
                                    <div class="national-item">
                                        {% if tour_team.category_thumbnail_image %}
                                        <img src="{{tour_team.category_thumbnail_image.url}}" class="img-fluid w-100 rounded" style="height: 200px;" alt="Image">
                                        {% else %}
                                        <img src="{% static 'default_all.jpg' %}" class="img-fluid w-100 rounded" style="height: 200px;" alt="Image">
                                        {% endif %}
                                        <div class="national-content">
                                            <div class="national-info">
                                                <h5 class="text-white text-uppercase mb-2">{{tour_team.category_name}}</h5>
                                                <a href="{% url 'packages' tour_team.id %}" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                            </div>
                                        </div>
                                        <div class="national-plus-icon">
                                            <a href="{% url 'packages' tour_team.id %}" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                    
                            </div>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
        <!-- Explore Tour Start -->

{% endblock %}