{% extends 'main_templates.html' %}
{% block content %}
{% load static %}
<!-- Header Start -->
{% include 'include/breadcrumb.html' %}
<!-- Header End -->
 
        <!-- Gallery Start -->
        <div class="container-fluid gallery py-5 my-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Our Gallery</h5>
                {% if category_id == None  %}
                <h1 class="mb-4">Tourism & Traveling Gallery.</h1>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempore nam, architecto doloremque velit explicabo? Voluptate sunt eveniet fuga eligendi! Expedita laudantium fugiat corrupti eum cum repellat a laborum quasi.</p>
                {% else %}
                <h1 class="mb-4">{{categories_info.category_name}}</h1>
                <p class="mb-0">{{categories_info.category_description}}</p>
                {% endif %}
            </div>
            <div class="tab-class text-center">
                <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
                    <li class="nav-item">
                        <a class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill {% if category_id == None  %} active {% endif %}"  href="{% url 'gallery' %}">
                            <span class="text-dark" style="width: 150px;">All</span>
                        </a>
                    </li>
                    {% for category_item in categories_list %}
                    <li class="nav-item">
                        <a class="d-flex py-2 mx-3 border border-primary bg-light rounded-pill {% if category_id == category_item.id  %} active {% endif %}"   href="{% url 'gallery_category_id' category_item.id %}">
                            <span class="text-dark" style="width: 150px;">{{category_item.category_name}}</span>
                        </a>
                    </li>
                    {% endfor %}
                     
                </ul>
                <div class="tab-content">
                    <div id="GalleryTab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-2">
                            {% for gallery_item in our_gallery %}
                            <div class="col-sm-6 col-md-6 col-lg-4 {% if forloop.counter0|divisibleby:10 %} col-xl-2 {% elif forloop.counter0|divisibleby:2 %} col-xl-3 {% else %} col-xl-2 {% endif %}">
                                <div class="gallery-item h-100">
                                    <img src="{{gallery_item.thumbnail_image.url}}" class="img-fluid w-100 h-100 rounded" alt="Image">
                                    <div class="gallery-content">
                                        <div class="gallery-info">
                                            <h5 class="text-white text-uppercase mb-2">{{ gallery_item.category.category_name }}</h5>
                                            <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                        </div>
                                    </div>
                                    <div class="gallery-plus-icon">
                                        <a href="{{gallery_item.thumbnail_image.url}}" data-lightbox="gallery-3" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                    <h3>Record not found</h3>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                     
                </div>
            </div>
        </div>
        <!-- Gallery End -->

{% endblock %}