{% extends 'main_templates.html' %}
{% block content %}
{% load static %}
<!-- Header Start -->
{% include 'include/breadcrumb.html' %}
<!-- Header End -->
<!-- 404 Start -->
<div class="container-fluid py-5">
   <div class="container py-0 text-center">
      <div class="row">
         {% include 'pages/userInfo/side_bar.html' %}
         <div class="col-lg-10 col-md-12">
            <div class="row">
               <div class="col-lg-12 col-md-12">
                  <div class="card text-start">
                     <div class="card-header">
                        Booking List
                        <div class="float-right"><a href="{% url 'booking' %}" class="btn btn-primary rounded-pill py-0 px-4 ms-lg-4">Book Now</a></div>
                     </div>
                     <div class="card-body">
                        <table id="example" class="example table table-striped table-bordered">
                           <thead>
                              <tr>
                                 <th>Booking ID</th>
                                 <th>Name</th>
                                 <th>Phone</th>
                                 <th>Departure date</th>  
                                 <th>Pay Amount</th>
                                 <th>Pay Date</th>
                                 <th>Payment Status</th>
                                 <th>Action</th>

                              </tr>
                           </thead>
                           <tbody>
                              {% for booking in booking_list %}
                              <tr>
                                 <td><a href="{% url 'bookingReceipt' booking.id  %}">{{booking.order_id}}</a></td>
                                 <td>{{booking.name}}</td>
                                 <td>{{booking.phone_no}}</td>
                                 <td>{{ booking.departure_date}}</td> 
                                 <td>{{booking.total_amount}}</td>
                                 <td>{{booking.created_at|date:"M d, Y"}}</td>
                                 <td class="{% if booking.payment_status == 'success' %}text-success{% else %}text-danger{% endif %}">{{booking.payment_status}}</td>
                                 <td>
                                    <a href="{% url 'bookingReceipt' booking.id  %}" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="{% url 'downloadReceiptPDF' booking.id  %}" class="btn btn-success btn-sm"><i class="fa fa-download" aria-hidden="true"></i></a>
                                 </td>
                              </tr>
                              {% endfor %}
                               
                           </tbody> 
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- 404 End -->
{% endblock %}