<div class="container-fluid nav-bar sticky-top px-4 py-2 py-lg-0">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a href="" class="navbar-brand p-0">
                    <h1 class="display-6 text-dark"><i class="fas fa-swimmer text-primary me-3"></i>{{site_name}}</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="{% url 'home' %}" class="nav-item nav-link {% if request.path == '/' %} active {% endif %}">Home</a>
                        <a href="{% url 'aboutUs' %}" class="nav-item nav-link {% if request.path == '/about-us/' %} active {% endif %}">About</a>
                        <a href="{% url 'service' %}" class="nav-item nav-link {% if request.path == '/service/' %} active {% endif %}">Service</a>
                        <a href="{% url 'blog' %}" class="nav-item nav-link {% if 'blog' in request.path %} active {% endif %}">Blog</a>
                        <a href="{% url 'gallery' %}" class="nav-item nav-link {% if request.path == '/gallery/' %} active {% endif %}">Gallery</a>
                        <a href="{% url 'package' %}" class="nav-item nav-link {% if request.path == '/package/' %} active {% endif %}">Ticket Packages</a>
                        <a href="{% url 'contactUs' %}" class="nav-item nav-link {% if request.path == '/contact-us/' %} active {% endif %}">Contact</a>
                    </div>
                    <div class="team-icon d-none d-xl-flex justify-content-center me-3">
                        {%  if facebook_url  %}
                        <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        {%  endif %}

                        {%  if x_url  %}
                        <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                        {%  endif %}

                        {%  if instagram_url  %}
                        <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        {%  endif %}

                        {%  if linkedIn_url  %}
                        <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        {%  endif %}
                    </div>
                    <a href="{% url 'findReceipt' %}" class="btn btn-primary rounded-pill py-2 px-4 flex-shrink-0">Find Receipt</a>
                </div>
            </nav>
        </div>