{% load static %}
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Meet Our Team</h4>
            <h1 class="display-5 mb-4">Our Waterland Park Dedicated Team Member</h1>
            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint dolorem autem obcaecati, ipsam mollitia hic.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            {% for member in team_members %}
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item p-4">
                    <div class="team-content">
                        <div class="d-flex justify-content-between border-bottom pb-4">
                            <div class="text-start">
                                <h4 class="mb-0">{{member.name}}</h4>
                                <p class="mb-0">{{member.designation}}</p>
                            </div>
                            <div>
                                <img src="{{member.image.url}}" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                            </div>
                        </div>
                        <div class="team-icon rounded-pill my-4 p-3">
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="{{member.fb_url}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="{{member.twitter_url}}" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="{{member.linkedin_url}}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-0" href="{{member.instagram_url}}" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                        <p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quibusdam eveniet itaque provident sequi deserunt.
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
              
        </div>
    </div>
</div>