{% load static %}
<!-- Carousel Start -->
<div class="carousel-header">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            {% for sliderItem in sliderList %}
                <li data-bs-target="#carouselId" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %} 
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for sliderItem in sliderList %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ sliderItem.slider_image.url }}" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">{{sliderItem.slider_title}}</h4>
                        <h1 class="display-2 text-capitalize text-white mb-4">{{sliderItem.slider_sub_title}}</h1>
                        <p class="mb-5 fs-5">{{sliderItem.description|safe}}</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="{% url sliderItem.slider_button_url %}">{{sliderItem.slider_button_title}}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
              
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon btn bg-primary" aria-hidden="false"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon btn bg-primary" aria-hidden="false"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->