<div class="container-fluid copyright text-body py-4">
<div class="container">
    <div class="row g-4 align-items-center">
        <div class="col-md-6 text-center text-md-end mb-md-0">
            <i class="fas fa-copyright me-2"></i><a class="text-white" href="#">{{ site_name|default:'Travela & Tourism' }}</a>, All right reserved.
        </div>
        <div class="col-md-6 text-center text-md-start">
            Devedeveloped By <a class="text-white" href="{{devedeveloped_url}}" target="_blank">{{devedeveloped_by}}</a>
        </div>
    </div>
</div>
</div>