{% extends 'main_templates.html' %}
{% block content %}
{% load static %}

<!-- Header Start -->
{% include 'include/breadcrumb.html' %}
<!-- Header End -->


<!-- Gallery Start -->
<div class="container-fluid gallery py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Our Gallery</h4>
            <h1 class="display-5 mb-4">Captured Moments In Waterland</h1>
            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis
                cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint
                dolorem autem obcaecati, ipsam mollitia hic.
            </p>
        </div>
        <div class="row g-4">
            {% for gl_item in gallery_image %}
            {% with pos=forloop.counter0|add:1 %}
            {% with block_pos=pos|add:"-1"|divisibleby:5 %}
            {% if pos|add:"-1"|divisibleby:5 %}
            {% comment %} block_pos = 1 {% endcomment %}
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                {% else %}
                <div class="col-md-3 wow fadeInUp" data-wow-delay="0.2s">
                    {% endif %}
                    {% endwith %}
                    {% endwith %}

                    <div class="gallery-item">
                        <img src="{{ gl_item.image.url }}" class="img-fluid rounded w-100 h-100" alt="">
                        <div class="search-icon">
                            <a href="{{ gl_item.image.url }}" class="btn btn-light btn-lg-square rounded-circle"
                                data-lightbox="Gallery-{{ forloop.counter }}">
                                <i class="fas fa-search-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Gallery End -->
    {% endblock %}