{% extends 'main_templates.html' %}
{% block content %}
{% load static %}

<!-- Header Start -->
{% include 'include/breadcrumb.html' %}
<!-- Header End -->


<!-- Ticket Packages Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">

            {% for package in package_list %} 
                 {% with bg_class=forloop.counter0|divisibleby:2|yesno:"bg-dark,bg-primary" text_class=forloop.counter0|divisibleby:2|yesno:"text-primary,text-dark" %}
                    <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="pricing-item {{ bg_class }} rounded text-center p-5 h-100">
                            <div class="pb-4 border-bottom">
                                <h2 class="mb-4 {{ text_class }}">{{ package.title }}</h2>
                                <p class="mb-4">{{ package.description }}</p>
                                <h2 class="mb-0 {{ text_class }}">
                                    Rs. {{ package.price }}<span class="text-body fs-5 fw-normal">/-</span>
                                </h2>
                            </div>
                            <div class="py-4">
                                <p class="mb-4"><i class="fa fa-check {{ text_class }} me-2"></i>All Access To Waterpark</p>
                                <p class="mb-4"><i class="fa fa-check {{ text_class }} me-2"></i>Get Two Gazebo</p>
                                <p class="mb-4"><i class="fa fa-check {{ text_class }} me-2"></i>Free Soft Drinks</p>
                                <p class="mb-4"><i class="fa fa-check {{ text_class }} me-2"></i>Get Four Lockers</p>
                                <p class="mb-4"><i class="fa fa-check {{ text_class }} me-2"></i>Free Four Towels</p>
                                <p class="mb-4"><i class="fa fa-check {{ text_class }} me-2"></i>{{ package.no_person }} persons allowed</p>
                            </div>
                            <a href="{% url 'bookNow' package.id %}" class="btn btn-light rounded-pill py-3 px-5"> Book Now</a>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}

        </div>
    </div>
</div>
<!-- Ticket Packages End -->
{% endblock %}