<!-- The Register Modal -->
<div class="modal fade" id="myRegisterModal">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">Register</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
         </div>
         <!-- Modal body -->
         <form action="{% url 'registrations' %}" method="post" enctype="multipart/form-data" id="registrationsForm">
            {% csrf_token %} 
            <div class="modal-body">
               <div class="row">
                  <div class="col-md-6">
                     <div class="mb-3">
                        <label class="form-label">{{registrationsForm.first_name.label}}:</label>
                        {{registrationsForm.first_name}}
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="mb-3">
                        <label class="form-label">{{registrationsForm.last_name.label}}:</label>
                        {{registrationsForm.last_name}}
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="mb-3">
                        <label  class="form-label">{{registrationsForm.username.label}}:</label>
                        {{registrationsForm.username}}
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="mb-3">
                        <label  class="form-label">{{registrationsForm.email.label}}:</label>
                        {{registrationsForm.email}}
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="mb-1">
                        <label class="form-label">{{registrationsForm.password1.label}}:</label>
                        {{registrationsForm.password1}}
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="mb-1">
                        <label class="form-label">{{registrationsForm.password2.label}}:</label>
                        {{registrationsForm.password2}}
                     </div>
                  </div>
               </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
               <button type="submit" class="btn btn-primary" id="save_butt_frm">Submit</button> 
               <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
         </form>
      </div>
   </div>
</div>