{% extends 'main_templates.html' %}
{% block content %}
{% load static %}
<!-- Header Start -->
{% include 'include/breadcrumb.html' %}
<!-- Header End -->

<!-- 404 Start -->
<div class="container-fluid py-5">
   <div class="container py-0 text-center">
            <div class="row msg">
                  <div class="col-lg-12 col-md-12 mx-auto">
                        {% if messages %}
                              {% for message in messages %}
                                    <div class="alert {% if message.tags == 'error' %} alert-danger {% else  %}  alert-success {% endif %} alert-dismissible">
                                          {{ message }} 
                                    </div>
                              {% endfor %}
                        {% endif %}
                  </div>
            </div>
         <div class="row">
            {% include 'pages/userInfo/side_bar.html' %}
            <div class="col-lg-10 col-md-12">
                  <div class="row">
                        <div class="col-lg-12 col-md-12">
                              <div class="card text-start">
                                 <div class="card-header">
                                    Change Password
                                 </div>
                                 <div class="card-body"> 
                                    <form action="" method="post" enctype="multipart/form-data" id="changePasswordForm">
                                          {% csrf_token %}
                                       <div class="row">
                                             <div class="col-lg-6 col-md-6">
                                                   <div class="form-group">
                                                      <label>New Password:</label>
                                                      <input type="password" name="old_password" id="old_password" class="form-control">
                                                   </div>
                                             </div>
                                             <div class="col-lg-6 col-md-6">
                                                   <div class="form-group">
                                                      <label>Confirm Password:</label>
                                                      <input type="password" name="new_password1" id="new_password1" class="form-control">
                                                   </div>
                                             </div>
                                       </div>
                                       <div class="row mt-3">
                                             <div class="col-lg-6 col-md-6">
                                                   <div class="form-group">
                                                      <label>Old Password:</label>
                                                      <input type="password" name="new_password2" id="new_password2" class="form-control">
                                                   </div>
                                             </div> 
                                       </div>
                                        
                                       <div class="row mt-3">
                                             <div class="col-lg-12 col-md-12 text-center"> 
                                                <button type="submit" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4" id="chng_butt_frm">Update Password</button>
                                             </div>
                                             
                                       </div>
                                    </form>
                                 </div>
                              </div>
                        </div>
                         
                  </div>

            </div>
         </div>
   </div>
</div>
<!-- 404 End -->
{% endblock %}