{% extends 'main_templates.html' %}
{% block content %}
{% load static %}
<!-- Header Start -->
{% include 'include/breadcrumb.html' %}
<!-- Header End -->

<!-- 404 Start -->
<div class="container-fluid py-5">
   <div class="container py-0 text-center">
            <div class="row msg">
                  <div class="col-lg-12 col-md-12 mx-auto">
                        {% if messages %}
                              {% for message in messages %}
                                    <div class="alert {% if message.tags == 'error' %} alert-danger {% else  %}  alert-success {% endif %} alert-dismissible">
                                          {{ message }} 
                                    </div>
                              {% endfor %}
                        {% endif %}
                  </div>
            </div>
         <div class="row">
            {% include 'pages/userInfo/side_bar.html' %}
            <div class="col-lg-10 col-md-12">
                  <div class="row">
                        <div class="col-lg-12 col-md-12">
                              <div class="card text-start">
                                 <div class="card-header">
                                    User Profile
                                 </div>
                                 <div class="card-body"> 
                                    <form action="" method="post" enctype="multipart/form-data" id="userProfileForm">
                                          {% csrf_token %}
                                       <div class="row">
                                             <div class="col-lg-6 col-md-6">
                                                   <div class="form-group">
                                                      <label>First name:</label>
                                                      <input type="text" name="first_name" id="first_name" class="form-control" value="{{ request.user.first_name }}">
                                                   </div>
                                             </div>
                                             <div class="col-lg-6 col-md-6">
                                                   <div class="form-group">
                                                      <label>Last name:</label>
                                                      <input type="text" name="last_name" id="last_name" class="form-control" value="{{ request.user.last_name }}">
                                                   </div>
                                             </div>
                                       </div>
                                       <div class="row mt-3">
                                             <div class="col-lg-6 col-md-6">
                                                   <div class="form-group">
                                                      <label>Email:</label>
                                                      <input type="email" name="email" id="email" class="form-control" value="{{ request.user.email }}">
                                                   </div>
                                             </div>
                                             <div class="col-lg-6 col-md-6">
                                                   <div class="form-group">
                                                      <label>Username:</label>
                                                      <input type="text" class="form-control" name="username" id="username" value="{{ request.user.username }}" readonly>
                                                   </div>
                                             </div>
                                       </div>
                                       <div class="row mt-3">
                                             <div class="col-lg-6 col-md-6">
                                                   <div class="form-group">
                                                      <label>Phone No:</label>
                                                      <input type="text" class="form-control" placeholder="Enter phone" id="phone" name="phone" value="{{u_profile.phone}}">
                                                   </div>
                                             </div>
                                             <div class="col-lg-6 col-md-6">
                                                   <div class="form-group">
                                                      <label>Profile Image:</label>
                                                      <input type="file" class="form-control" id="profile_image" name="profile_image">
                                                   </div>
                                             </div>
                                       </div>
                                       <div class="row mt-3">
                                             <div class="col-lg-6 col-md-6">
                                                   <div class="form-group">
                                                      <label>Contry :</label>
                                                      <select class="form-control" name="country" id="country">
                                                            <option value="">Select Contry</option>
                                                            {% for country in country_list  %}
                                                            <option value="{{country.id}}" {% if u_profile.country_id == country.id %} selected {% endif %}>{{country.country_name}}</option>
                                                            {% endfor %}
                                                      </select> 
                                                   </div>
                                             </div>
                                             <div class="col-lg-6 col-md-6">
                                                   <div class="form-group">
                                                      <label>Address:</label>
                                                      <input type="text" class="form-control" id="address" name="address" value="{{ u_profile.address }}">
                                                   </div>
                                             </div>
                                       </div>
                                       <div class="row mt-3">
                                             <div class="col-lg-12 col-md-12 text-center">
                                                <button type="submit" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4" id="up_page_butt_frm">Update</button>
                                             </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                        </div>
                         
                  </div>

            </div>
         </div>
   </div>
</div>
<!-- 404 End -->
{% endblock %}